.header_logo{
    width: 100px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
}
.header{
    width: 100%;
    position: absolute;
    position: sticky;
    background-color: black;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 100;
  

}
.header_icon{
    background-color: #f0c14b;
    padding: 6px;
}
.header_search{
    display: flex;
    flex:1;
    width:600px;
}
.header_searcher{
    height: 12px;
    padding:5px;
    width: 200px;
    outline: none;
    height: 22px!important;
    width: 100%;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}
.header_option{
    display: flex;
    flex-direction: column;
    height: 30px;
}
#hello{
    font-size:  10px;
}
#sign{
    font-size: 13px;
    font-weight: 800;
}
.return{
    font-size: 10px;
}
#your{ 
    font-size: 10px;
}
.prime{
    font-size: 13px;
    font-weight: 800;
}
.order{
    font-size: 13px;
    font-weight: 800;
}
.header_basket{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.basket-count{
    margin-left: 10px;
    margin-right: 10px;
}